@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=vietnamese');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	font-size: 13px;
	font-family: 'Cabin', sans-serif;
	color: #888888;
}
/* global style */
h1,h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
}
img{
	width: 100%
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
.btn{
	border: none;
	border-radius: 0;
	text-align: left;
	outline: none;
	padding: 10px;
	transition: .6s;
}
.btn:focus{	
	box-shadow: none;
}
.btn-shop{
	border: 1px solid #fff;
	padding: 7px 15px;
	color: #fff;
	font-weight: bold;
}
.btn-viewall{
	border: 1px solid #333;
	padding: 7px 15px;
	color: #333;
	margin-top: 20px;
}
.btn-shop:hover{
	color: #000;
	background: #fff;
}
.btn-addtoCart {
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	background: #333;
	font-size: 14px;
	font-weight: bold;
}
.btn-addtoCart:hover{
	border: 1px solid #333;
	background: #fff;
}
.heading{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 40px;
	position: relative;
}
.heading::after{
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 2px;
	background: #333;
}
.heading-desc{
	width: 70%;
	margin: auto;
	font-size: 16px;
	
}
.product-name,.price{
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
}
.product-desc{
	font-size: 13px;
	margin-bottom: 0;
}

/* style header-top */
.header-top{
	padding: 50px 0;
	border-bottom: 1px solid #ebebeb;
}
.header-top span{
	text-transform: uppercase;
	margin-right: 15px;
	font-size: 12px;
}
.header-top span i{
	margin-right: 5px;
}
.header-top span i.fa-chevron-down{
	margin-right: 0px;
	margin-left: 5px;
}
.search{
	border: 1px solid #888888;
	padding: 0 10px;
}
.search i{
	cursor: pointer;
}
/* style nav */
.navbar .navbar-nav  .nav-item {
	padding: 0 10px;	
	border-right: 1px solid #ebebeb;
	position: relative;
}
.navbar .navbar-nav  .nav-link{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
}
.navbar .navbar-nav  .nav-link:hover{
	color: #555555;
}
.navbar .navbar-nav  .nav-link i{
	margin-left: 5px;
	font-size: 10px;
}
.navbar .navbar-nav .nav-item ul{
	position: absolute;
	left: 0px;
	width: 150px;
	opacity: 0;
	visibility: hidden;
	margin-top: 50px;
}
.navbar .navbar-nav  .nav-item.open ul{
	opacity: 1;
	visibility: visible;
	margin-top: 0;
	transition: .6s;
	background: #fff;
	z-index: 10;
}
.navbar .navbar-nav  .nav-item ul li{
	padding: 5px 10px;
	width: 200px;
}
.navbar .navbar-nav  .nav-item ul li a{
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #555555;
	font-family: 'Open Sans', sans-serif;
}
.navbar .navbar-nav  .nav-item ul li a:hover{
	color: #9b9b9b;
}
/* Slide Style */
.slide{
	position: relative;
}
.slide .slide-content{
	position: absolute;
	top: 40%;
	left: 40% ;
	text-align: center;
	color: #fff;
}
.slide  img{
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.slide .slide-content h2{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.slide .slide-content p{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.carousel-control-prev i,
.carousel-control-next i{
	color: #fff;
	font-size: 30px;
}
/* Collection Style */
.pad{
	padding: 60px 0;
}
.collection{
	position: relative;
}
.collection .collect-tittle{
	position: absolute;
	bottom: 10%;
}
.collection img{
	width: 100%;
	height: 250px;
}
.collection .collect-tittle h2{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	padding-left: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #fff;
}
/* ads brand */
.ads{
	position: relative;
}
.ads img{
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.ads-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.ads-content h2{
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}
.ads-content p{
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500;
	padding: 10px 0;
}
/* tabs title */
.tabs-name{
	border-bottom: 1px solid #888888;
}
.tabs-name li {
	border-bottom: 2px solid transparent;
	position: relative;
	bottom: -3px;
	display: inline;
}
.tabs-name li h3{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0;
}
.tabs-name li h3:hover,
.tabs-name li h3.active{
	padding-bottom: 15px;
	border-bottom: 2px solid #333;
}
.tabs-desc{
	height: 980px;
}
.tabs-content{
	position: relative;
}
.products{
	width: 100%;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transform: translateY(200px);
}
.products.show-products{
	transition: .6s;
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}
	/* 	product */
.product .product-img{
	position: relative;
}
.product .product-img img{
	height: 400px;
	width: 100%;
}
.product .product-img .bg-addtoCart{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffffa3;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateY(180deg) scale(.5,.5);
	opacity: 0;
	visibility: hidden;
}
.product .product-img:hover .bg-addtoCart{
		transition: .6s;
	transform: rotateY(0deg) scale(1,1);
	opacity: 1;
	visibility: visible;
}
/* subcribe section */
.subcribe{
	width: 60%;
	margin: auto;
}
.subcribe input{
	padding: 7px 15px;
	width: 50%;
	outline: none;
}
.subcribe .btn-subcribe{
	padding: 8px 15px;
	background: #333;
	color: #fff;
	border: 1px solid #333;
	text-transform: uppercase;
	font-weight: bold;
}
.subcribe .btn-subcribe:hover{
	background: #fff;
	color: #333;
}
.footer{
	background: #111;
}
.footer h3{
	font-size: 16px;
	text-transform: uppercase;
	color: #e1e1e1;
}
.footer a{
	color: #848484;
	line-height: 25px;
	transition: .6s;
}
.footer a:hover{
	color: #e1e1e1;
}
.logo-footer img{
	width: 60px;
	margin-bottom: 30px;
}
.social-icons a i{
	font-size: 13px;
	width: 40px;
	height: 40px;
	line-height: 38px;
	border-radius: 50%;
	border: 2px solid #848484;
	margin: 0 5px;
	transition: .6s;
}
.social-icons a i:hover{
	background: #e1e1e1;
	color: #333;
}
.payment-icons i{
	font-size: 30px;
	margin: 0 7px;
}


@media (max-width: 768px)
{
	.pad{
		padding: 40px 0;
	}
	.header-top{
		flex-direction: column;
		padding: 30px;
	}
	.btn{
		padding: 5px;
	}
	.header-top span{
		font-size: 8px;
	}
	.logo{
		margin: 10px 0;
	}
	.navbar .navbar-nav .nav-item.open ul{
		position: relative;
		width: 100%;
		transition: 0s;
	}
	.navbar .navbar-nav .nav-item.open ul li{
		width: 100%;
		text-align: center;
	}
	.slide  img{
		height: 70%;
	}
	.ads img{
		height: 200px;
	}
	.ads-content h2{
		font-size: 18px;
	}
	.ads-content p{
		font-size: 13px;
		padding: 5px;
	}
	.product .product-img img{
		height: 260px;
	}
	.tabs-name li h3,.product-name,.price{
		font-size: 11px;
	}
	.product-desc ,.btn-addtoCart,.btn-subcribe,input{
		font-size: 9px;
	}
	.tabs-desc{
		height: 1024px;
	}
	footer iframe{
		height: 300px;
	}
}
@media (min-width: 768px ) and (max-width: 992px) {
	.pad{
		padding: 40px 0;
	}
	.collection img{
		height: 200px;
	}
	.product .product-img img{
		height: 320px;
	}
	.tabs-desc{
		height: 860px;
	}
}