@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=vietnamese');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	font-size: 13px;
	font-family: 'Cabin', sans-serif;
	color: #888888;
}
/* global style */
h1,h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
}
img{
	width: 100%
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
.btn{
	border: none;
	border-radius: 0;
	text-align: left;
	outline: none;
	padding: 10px;
	transition: .6s;
}
.btn:focus{	
	box-shadow: none;
}
.btn-shop{
	border: 1px solid #fff;
	padding: 7px 15px;
	color: #fff;
}
.btn-shop:hover{
	color: #000;
	background: #fff;
}
/* style header-top */
.header-top{
	padding: 50px 0;
	border-bottom: 1px solid #ebebeb;
}
.header-top span{
	text-transform: uppercase;
	margin-right: 15px;
	font-size: 12px;
}
.header-top span i{
	margin-right: 5px;
}
.header-top span i.fa-chevron-down{
	margin-right: 0px;
	margin-left: 5px;
}
.search{
	border: 1px solid #888888;
	padding: 0 10px;
}
.search i{
	cursor: pointer;
}
/* style nav */
.navbar .navbar-nav  .nav-item {
	padding: 0 10px;	
	border-right: 1px solid #ebebeb;
	position: relative;
}
.navbar .navbar-nav  .nav-link{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
}
.navbar .navbar-nav  .nav-link:hover{
	color: #555555;
}
.navbar .navbar-nav  .nav-link i{
	margin-left: 5px;
	font-size: 10px;
}
.navbar .navbar-nav .nav-item ul{
	position: absolute;
	left: 0px;
	width: 150px;
	opacity: 0;
	visibility: hidden;
	margin-top: 50px;
}
.navbar .navbar-nav  .nav-item.open ul{
	opacity: 1;
	visibility: visible;
	margin-top: 0;
	transition: .6s;
}
.navbar .navbar-nav  .nav-item ul li{
	padding: 5px 10px;
	width: 200px;
}
.navbar .navbar-nav  .nav-item ul li a{
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #555555;
	font-family: 'Open Sans', sans-serif;
}
.navbar .navbar-nav  .nav-item ul li a:hover{
	color: #9b9b9b;
}
/* Slide Style */
.slide{
	position: relative;
}
.slide .slide-content{
	position: absolute;
	top: 40%;
	left: 40% ;
	text-align: center;
	color: #fff;
}
.slide  img{
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.slide .slide-content h2{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.slide .slide-content p{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.carousel-control-prev i,
.carousel-control-next i{
	color: #fff;
	font-size: 30px;
}
/* Collection Style */
#collections{
	padding: 60px 0;
}
.collection{
	position: relative;
}
.collection .collect-tittle{
	position: absolute;
	bottom: 10%;
}
.collection img{
	width: 100%;
	height: 250px;
}
.collection .collect-tittle h2{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	padding-left: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #fff;
}




@media (max-width: 768px)
{
	.header-top{
		flex-direction: column;
		padding: 30px;
	}
	.header-top .header-left{
		
	}
	.btn{
		padding: 5px;
	}
	.header-top span{
		font-size: 8px;
	}
	.logo{
		margin: 10px 0;
	}
	.navbar .navbar-nav .nav-item.open ul{
		position: relative;
		width: 100%;
		transition: 0s;
	}
	.navbar .navbar-nav .nav-item.open ul li{
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 768px ) and (max-width: 992px) {
	.collection img{
		height: 200px;
	}
}